*.aux
*.log
*.backup
*~
*.pyc
*.toc
*.nav
*.out
*.snm
uni-space_payload_pdr.pdf
*.synctex.gz
*.o
*.elf
*.synctex.gz
*.lof

uni-space_payload_pdr.lot

.DS_Store

uni-space_payload_pdr-blx.bib

uni-space_payload_pdr.run.xml

uni-space_payload_pdr.uncited
